{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <header class="center pb-3">
		<h1 class="center">Creation de Portefolio
			<a class="modiferButton" id="Modif">
			</a>
		</h1>
	</header>
    <div class="mainForm center main">
        <div class="form p-5">
            <h5>Creation de compte Utilisateur</h5>

            {{ include('registration/_form.html.twig') }}

            <a href="{{ path('app_index') }}" class="btn btn-primary mt-3">revenir en arrière</a>
        </div>
    </div>
{% endblock %}
