<form method="post" action="{{ path('app_onglet_delete', {'id': onglet.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ onglet.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
<!-- onsubmit="return confirm('Est-tu sùr de vouloir supprimer cette carte?');" -->