{% extends 'base.html.twig' %}

{% block title %}Edit Onglet{% endblock %}

{% block body %}
    <h1>modifier la carte</h1>

    {{ include('onglet/tabForm.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_index') }}">retour en arrière</a>

    {{ include('onglet/_delete_form.html.twig') }}
{% endblock %}
