{% extends 'base.html.twig' %}

{% block title %}New Onglet{% endblock %}

{% block body %}

    {{ include('onglet/_form.html.twig') }}

    <a href="{{ path('app_onglet_index') }}">back to list</a>
{% endblock %}
