	
		<div class="" id="parentCard">
			<div class="m-3 text-white tabAjout center" style="">
				<a href="{{ path( 'app_onglet_new', { 'id': id } )}}" class="btn btn-success" id="ajout"> Nouvelle carte </a>
			</div>
		</div> 
