
		
				<div class="noConnected" id="noConnected">
					<nav class="betweenTop column" id="noConnectedNav">
						<a id="inscriptionBtn" class="navNoConnected">
							Inscription
						</a>
						<!-- fonctionnalité a ajouter
						<a class="navNoConnected">
							Tester
						</a>
						-->
						<a class="navNoConnected" id="connexionBtn">
							Connexion
						</a>	
					</nav>
					<!-- desciption du site -->
					<section class="descriptionSite center" >
						<p><strong>
							Découvrez notre plateforme en ligne pour créer facilement des portfolios 
							pour tous vos projets. Que vous soyez un artiste, un designer, un photographe 
							ou que vous souhaitiez simplement mettre en valeur vos réalisations, 
							notre site vous permet de présenter votre travail de manière professionnelle. 
							Personnalisez votre portefeuille en quelques clics et partagez vos projets 
							avec le monde entier. Simplifiez la création de votre portfolio dès maintenant !
						</strong></p>
					</section>
				</div>

				<div id="connexFormContainer" class="center blockLogin">				
					{{ include('security/login.html.twig') }}
				</div>

				<div id="inscriptionFormContainer" class="center blockRegister">
					{{ include('registration/register.html.twig') }}
				</div>

