{% extends 'base.html.twig' %}

		{% block title %}
			Portfolio
		{% endblock title %}

		{% block body %}
			
			{% include './reusable/header.html.twig' %}

			<main class="center main bgMain">
				{% if is_granted('ROLE_MEMBRE') %}
					{{ include('./connexion/Connected.html.twig') }}
				{% else %}
					{% include "./connexion/noConnect.html.twig" %}
				{% endif %}
			</main>

		{% endblock %}