{% extends 'base.html.twig' %}

{% block title %}Portefolio{% endblock %}

{% block body %}
    <header>
        <h1 class="center">Portefolio</h1>
        <nav class="navHeader">
    
        </nav>
    </header>

    <main>
        <div class="tab">
            <ul>
                <li><h5>Title</h5></li>
            </ul>
        </div>
    </main>
{% endblock %}
