
		<div class="grpTab column-flex" id="tab1">
		<!-- onglet -->
					{% include "reusable/tabForm.html.twig" %}
					
		</div>
		<!-- =================================================================================== -->
		<!-- ajout d'onglet zone vide a reutiliser-->
		<div class="tabAjout center posTab" id="divAjout1" hidden>
			<button class="btn btn-success newTab" id="btnAjout1">Ajouter une boite à projet</button>
		</div>
