
							

								<div class="center row-flex" style="height: 100%;width: 100%" id="">
								<!-- content -->

									<div class="center" style="height: 70%;width: 100%">
										<p class="descriptionCheck">Sed ut perspiciatis unde omnis iste natus error sit 
																			voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque 
																			ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
										</p>
									</div>
							<!--	 Image du projet -->
									<div class="imgTabPrev" style="height: 100%;width: 50%">

									</div>
								</div>

							<!-- Image -->